services:
  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'
    container_name: wqm-redis
    command: redis-server --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3